@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  ---darkCyan: hsl(185, 75%, 39%);
  ---veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  ---darkGrayishBlue: hsl(227, 10%, 46%);
  ---darkGray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  background: var(---darkCyan);
  overflow: hidden;
}

main {
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
  background: white;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg {
  background: url(../images/bg-pattern-card.svg);
  background-size: cover;
  width: 100%;
  max-width: 350px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

article img {
  border-radius: 50%;
  outline: none;
  border: 5px solid white;
  position: relative;
  bottom: 50px;
  margin-bottom: -30px;
  transition: all 0.3s;
}

article img:hover{
    transition: all 0.3s;
    scale: 1.1;
}

.name span {
  font-weight: 400;
  color: var(---darkGrayishBlue);
  margin-left: 5px;
}

.destination {
  color: var(---darkGrayishBlue);
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.line {
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  opacity: 0.5;
  margin-bottom: 20px;
}

.content {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content div p {
  color: var(---darkGrayishBlue);
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 5px;
}

footer {
  margin-top: 20px;
  color: black;
  font-size: 13px;
}

footer a {
  color: white;
}

footer a:hover{
    opacity: 0.7;
}

@media (min-width: 1440px) {
  footer {
    margin-top: 40px;
    font-size: 15px;
  }
}
